# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio
*.suo
*.ncb
*.user
*sdf

*/bin/
*/obj/
*/Obj/
*/Generated_Code/
